

/* style.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: none;
  margin-top: 30px;
}

.footer {
  background-color: #1c1c1c;
  color: #f4f4f4;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  flex: 1 1 200px;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
  margin: 15px 0 10px;
  font-weight: bold;
  font-size: 20px;
}

.card p {
  color: #d0d0d0;
  margin: 5px 0;
}

.card a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.card a:hover {
  color: #0056b3;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 15px;
  color: #007bff;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0056b3;
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

