
<h1>Depoimentos</h1>
<div class="container">
  <div class="box"><img src="/assets/imagens/feedback.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback2.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback3.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback1.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback4.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback5.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback6.png" alt=""></div>
  <div class="box"><img src="/assets/imagens/feedback7.png" alt=""></div>

</div>
