
<h1 style="margin-top: 100px;">Depoimentos do Google</h1>



<div class="outerdiv">

  <a style="text-decoration: none;" href="https://www.google.com/maps/place/Casa+de+Repouso+-+Parque+da+Mooca/@-23.5695679,-46.5897414,17z/data=!4m18!1m9!3m8!1s0x94ce5eaa15453899:0x72fb6b4d03a9cf1c!2sCasa+de+Repouso+-+Parque+da+Mooca!8m2!3d-23.5695679!4d-46.5897414!9m1!1b1!16s%2Fg%2F11ddzlj4c7!3m7!1s0x94ce5eaa15453899:0x72fb6b4d03a9cf1c!8m2!3d-23.5695679!4d-46.5897414!9m1!1b1!16s%2Fg%2F11ddzlj4c7?hl=pt-BR&entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">

  <div class="innerdiv">
    <!-- div1 -->
    <div class="div1 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://lh3.googleusercontent.com/a-/ALV-UjXUNAfXfHsjySenKkwK06h_a7Xj2wERxRjbW4aJ8kBnS40culDa=w60-h60-p-rp-mo-br100" alt="">
        </div>
        <div class="detbox">
          <p class="name" >Catherine Dahwache</p>
          <p class="designation">Filha da Sra.Evani</p>
        </div>
      </div>
      <div class="review">
        <h4>Gostaria de agradecer toda a equipe da casa de repouso Parque da Mooca pelo cuidado, carinho, prestatividade, atenção e principalmente o profissionalismo. Minha avó não poderia estar em um lugar melhor humanizado com excelentes profissionais. Muito obrigada a todos, super recomendo!!</h4>
      </div>
    </div>
    <!-- div2 -->
    <div class="div2 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://lh3.googleusercontent.com/a/ACg8ocKuOi2pECeLkFLnL-7SRXGUgvxrkiwchGZ8CGqMCmmwtmnrqg=w36-h36-p-rp-mo-br100" alt="">
        </div>
        <div class="detbox">
          <p class="name">Jose Barbosa</p>
          <p class="designation">Filha da Dona Laura</p>
        </div>
      </div>
      <div class="review">
        <h4>Ótimo lugar e bem estruturado equipe de enfermagem e cuidadores muito eficiente.
          Lugar amplo muito bom</h4>

      </div>
    </div>
    <!-- div3 -->
    <div class="div3 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://lh3.googleusercontent.com/a/ACg8ocIdvVL8uenHiG9Yj8yI-VJhPBZIgIebhg--hFhPGVdWhSIzmg=w36-h36-p-rp-mo-br100" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Evani Vialo</p>
          <p class="designation dark">Mãe da Sra. Catherine</p>
        </div>
      </div>
      <div class="review dark">

        <h5>Quero deixar aqui meu agradecimento, de coração, à Casa de Repouso Parque da Moóca e dizer sobre a minha admiração pelo trabalho impecável de vcs !
          Quando precisei encontrar uma Casa de Repouso, que minha mãe pudesse se sentir em um novo lar, fui a várias residências de ILPI, mas só me senti feliz no momento que conheci a Parque da Moóca. O ambiente é aconchegante, extremamente limpo e bem cuidado. As enfermeiras são gentis, educadas</h5></div>
    </div>
    <!-- div4 -->
    <div class="div4 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark" style="font-size: 20px;">Ana Menzani</p>
          <p class="designation dark"  style="font-size: 15px;">Filha da Dona Rosa</p>
        </div>
      </div>
      <div class="review dark">
        <h4  style="font-size: 18.5px;">Minha mãe se encontra nessa Casa de Repouso ha alguns meses,eu só posso falar que estamos muito contentes ,minha mãe está muito bem,e eu recomendo  a quem interessar,é de confiança.
        </h4>

      </div>
    </div>
    <!-- div5 -->
      <div class="div5 eachdiv">

      <div class="userdetails">
        <div class="imgbox">
          <img src="https://lh3.googleusercontent.com/a-/ALV-UjVfmmb2hsjUtyHKfGo3aPRiQmE-OVaqv9QouoBtq_WWO6jV79HL=w36-h36-p-rp-mo-br100" alt="">
        </div>
        <div class="detbox">
          <p class="name">Ana Paula</p>
          <p class="designation">Filha da Dona Lurdes</p>
        </div>
      </div>
      <div class="review">
        <h4>Uma casa família.. Todos os profissionais animados e prontos a atender a necessidade de cada um de suas princesas. Casa limpa, organizada, arejada e um espaço bem amplo. Tem quintal para tomar sol e uma vista de frente para um parque onde a saúde é o foco total.. essa eu recomendo..</h4>
     </div>


    </div>
  </div>
  </a>
</div>

