<h1 style="text-align: center;">Um pouco da nossa historia</h1>

<!--
<div class="external">
  <div class="horizontal-scroll-wrapper">
    <div class="img-wrapper slower">
      <a  target="_blank" rel="noopener">
        <video src="/assets/imagens/cida.mp4" autoplay  loop ></video>
      </a>
    </div>

    <div class="img-wrapper faster">
      <a  target="_blank" rel="noopener">
        <img src="/assets/imagens/nelson.png" alt="">
      </a>
    </div>

    <div class="img-wrapper slower vertical">
      <a  target="_blank" rel="noopener">
       <video src="/assets/imagens/bola.mp4" autoplay loop></video>
      </a>
    </div>

    <div class="img-wrapper slower slower-down">
      <a target="_blank" rel="noopener">
        <img src="/assets/imagens/tereza.png" alt="">
      </a>
    </div>

    <div class="img-wrapper">
      <a  target="_blank" rel="noopener">
        <img src="/assets/imagens/santo.jpg" alt="">
      </a>
    </div>

    <div class="img-wrapper slower">
      <a type="_blank" rel="noopener">
        <img src="/assets/imagens/foto3.jpg" alt="">
      </a>
    </div>

    <div class="img-wrapper faster1">
      <a target="_blank" rel="noopener">
        <img src="/assets/imagens/foto2.jpg"alt="">
      </a>
    </div>

    <div class="img-wrapper slower slower2">
      <a target="_blank" rel="noopener">
        <video src="/assets/imagens/corrente.mp4"  autoplay loop></video>
      </a>
    </div>

    <div class="img-wrapper">
      <a  target="_blank" rel="noopener">
        <img src="/assets/imagens/front.jpeg" alt="">
      </a>
    </div>

    <div class="img-wrapper slower">
      <a target="_blank" rel="noopener">
        <img src="/assets/imagens/pintura.jpg" alt="">
      </a>
    </div>

    <div class="img-wrapper slower last">
      <a  target="_blank" rel="noopener">
        <img src="/assets/imagens/foto7.jpg" alt="">
      </a>
    </div>
  </div>

</div>

-->




<body style="--n-rows: 3; --n-cols: 6">
  <style>.hex-cell:nth-of-type(5n + 1) { grid-column-start: 2 }</style>
  <div class="hex-cell"><img src="/assets/imagens/pintura.jpg"/></div>
  <div class="hex-cell"><img src="/assets/imagens/foto7.jpg"/></div>
  <div class="hex-cell"><video src="/assets/imagens/corrente.mp4"  autoplay loop></video></div>
  <div class="hex-cell"><img src="/assets/imagens/foto3.jpg"/></div>
  <div class="hex-cell"><img src="/assets/imagens/nelson.png"/></div>
  <div class="hex-cell"><video src="/assets/imagens/bola.mp4" autoplay loop></video></div>
  <div class="hex-cell"><img src="/assets/imagens/foto2.jpg"/></div>
</body>
