<h1 style="text-align: center;">Um pouco da nossa historia</h1>


<a href="https://instagram.com/casa_de_repouso_parque_mooca?igshid=YmMyMTA2M2Y=" target="_blank">
<body style="--n-rows: 3; --n-cols: 6">
  <style>.hex-cell:nth-of-type(5n + 1) { grid-column-start: 2 }</style>
  <div class="hex-cell"><img src="/assets/imagens/pintura.jpg"/></div>
  <div class="hex-cell"><img src="/assets/imagens/foto7.jpg"/></div>
  <div class="hex-cell"><video src="/assets/imagens/corrente.mp4"  autoplay loop></video></div>
  <div class="hex-cell"><img src="/assets/imagens/foto3.jpg"/></div>
  <div class="hex-cell"><img src="/assets/imagens/nelson.png"/></div>
  <div class="hex-cell"><video src="/assets/imagens/bola.mp4" autoplay loop></video></div>
  <div class="hex-cell"><img src="/assets/imagens/foto2.jpg"/></div>
</body>
</a>
