body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;


}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;


}

.text {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image video{

  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {

  color: #333;
  font-size: 20px;
}

.fa {

  display: flex;
  font-size: 20px;
  width: 2%;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 18px;
  border-radius: 66%;
  border: 1px solid rgb(0, 0, 0);
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
  background: #055fe5;
  color: white;
}



.fa-google {
  background: #e11010;
  color: white;

}
.fa-whatsapp {
  background: #10a335;
  color: white;
}



.fa-instagram {
  background: #a40f73;
  color: white;
}

.button {
  background-color: #2ad04b; /* Example color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  text-align: center;
}

.button:hover {
  background-color: #050704; /* Example hover color */
}

.map {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: black solid 1px; /* Your border style */
  margin-bottom: 30px ;
}
.maps{

  justify-content: center;

}

.lista li{
  margin-bottom: 10px;
  font-size: large;
}
.text h2,h1{

  font-weight: bold;

}

@media (min-width: 768px) {
  .content {
      flex-direction: row;
  }

  .text {
      width: 50%;
  }

  .image {
      width: 50%;
  }
}

.text video{
  justify-items: center;
  width: auto;
  height: 280px;

  border-radius: 20px;

  border: #060a06 2px solid;

}



.text{

  border: #0c0707 2px solid;
  border-radius: 30px;
  z-index: 2;
  background-color: #fff9f972;
  width: auto;
  height: auto;


}

.text video{
  z-index: -2;
  width: auto;


}


.content
{

  margin-bottom: 30px;


  background-color: rgba(0, 0, 0, 0 , 0);


}

.container{
  background-color: rgba(0, 0, 0, 0 , 0);

    justify-items: center;

    border: #979d9e 1px solid;
}

