<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos? - Casa de Repouso Parque da Mooca</title>

</head>
<body>
    <div class="container">



        <div class="content">

            <div class="text">

                <video   src="/assets/imagens/wix.mp4" autoplay loop controls></video>


                <h1>Quem Somos?</h1>
                <h2>Casa de Repouso Parque da Mooca</h2>
                <p>Nós da Casa de Repouso sabemos como é dificil para os familiares enfrentarem os cuidados diarios de um idoso, maioria das vezes o idoso precisa de um cuidado profissional e qualificado. No entanto nossa casa pensou em todos os aspectos em ter uma qualidade de vida tanto para o idoso quanto aos familiares. </p>
                <p>Em nossa casa, os idosos recebem avaliações médicas mensais, alimentação estabelecida por nutricionista, atividades de lazer acompanhadas por terapeuta ocupacional, serviços de enfermagem 24 horas, serviços de cuidadora 24 horas, banho, higienização, auxílio na alimentação (se necessário), administração dos medicamentos e controle de sinais vitais diários.
                </p>
                <h2 class="nossos-serviços">Nossos serviços</h2>
                <ul class="lista">
                  <li>Orientação médica 24h</li>
                  <li>Visitas médicas mensais</li>
                  <li>Enfermagem 24h</li>
                  <li>6 refeições diárias</li>
                  <li>Avaliação nutricional</li>
                  <li>Serviços de lavanderia</li>
                  <li>Acompanhamento nutricional</li>
                  <li>Fisioterapia em conjunto diariamente</li>

                </ul>
                <p>Estamos honrados por ser parte da jornada de nossos residentes e de suas familias. Seja bem-vindo ao nosso lar, onde o amor e a compaixão são a essência do que somos. Aqui, todos são acolhidos com carinho, respeito e a promessa de que a vida continua a brilhar, mesmo nas fases mais tranquilas.</p>
                <p>Somos a Casa de Repouso Parque da Mooca, e estamos aqui para fazer a diferença em cada etapa dessa jornada.</p>
                <div class="social-icons">
                  <a href="https://wa.me/message/GXI3B45JQPGKN1" target="_blank"><i class="fa fa-whatsapp"></i></a>
                  <a href="https://instagram.com/casa_de_repouso_parque_mooca?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.facebook.com/casaderepousoparquedamooca?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="mailto:casaderepousoparquemooca613@gmail.com" target="_blank"><i class="fa fa-google"></i></a>

              </div>

                <a href="tel:+551125289318" target="_blank" class="button">Agende sua visita agora</a>
            </div>


        </div>
        <div class="maps">
          <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.273773140593!2d-46.61344578472798!3d-23.55217203871685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58a5d6304029%3A0x2232304973f20d9!2sCasa%20de%20Repouso%20Parque%20da%20Mooca%20-%20Rua%20Emboabas%2C%20612%20-%20Mooca%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003124-010!5e0!3m2!1spt-BR!2sbr!4v1700988686903!5m2!1spt-BR!2sbr"
                 width="100%" height="auto" style="border:2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>


      </div>
    </div>
</body>



</html>



