
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/imagens/headerr.component.css">
  <script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
  </script>


</head>


<body>


<div class="about">
 <!-- <a class="bg_links social portfolio" href="https://bit.ly/m/Casa-de-Repouso-Parque-da-Mooca?fbclid=PAZXh0bgNhZW0CMTEAAaZFsVNIxMJA-FwrbAi8J9EVUznoz9EpWIAe2M5f48IdHJThFC40PWex0Ps_aem_IQQaSrMC8_b0kvpPbHG-Hg" target="_blank">
     <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" href="tel:+551125289318" target="_blank">
     <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin" href="https://wa.me/message/GXI3B45JQPGKN1" target="_blank">
     <span class="icon"></span>
  </a> -->
  <a class="bg_links logo" href="https://wa.me/message/GXI3B45JQPGKN1" target="_blank" ></a>
</div>

<nav class="mainNav">
  <div class="mainNav__logo"><img src="/assets/imagens/foto6.jpeg" alt=""></div>
  <div class="mainNav__links">
    <a href="https://wa.me/message/GXI3B45JQPGKN1" class="mainNav__link">Whatsapp</a>
    <a href="https://instagram.com/casa_de_repouso_parque_mooca?igshid=YmMyMTA2M2Y=" class="mainNav__link">Instagram</a>
     <a href="https://www.facebook.com/casaderepousoparquedamooca?mibextid=ZbWKwL" class="mainNav__link">Facebook</a>
     <a href="mail:casaderepousoparquedamooca613@gmail.com" class="mainNav__link">Gmail</a>

  </div>

</nav>
<header class="mainHeading">
  <div class="mainHeading__content">
     <article class="mainHeading__text">

        <h1 class="mainHeading__title" style="font-weight: bolder;">Casa de Repouso Parque Da Mooca</h1>
        <p class="mainHeading__description">
           Casa de Repouso pensada em cada detalhe para oferecermos uma qualidade de vida a quem amamos
        </p>
        <a href="https://wa.me/message/GXI3B45JQPGKN1" target="_blank">
        <button class="cta" href="https://wa.me/message/GXI3B45JQPGKN1">Agende sua visita agora</button>
      </a>
      </article>

     <figure class="mainHeading__image">
        <video src="/assets/imagens/finish.mp4" controls autoplay loop ></video>
     </figure>
  </div>
</header>

</body>
</html>
