

<!DOCTYPE html>
<html lang="en">
  <header style="background-image: url('./scr/assets/imagens/foto6.jpeg');">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa de Repouso Parque da Mooca</title>
    <style></style>

</header>
<body>
    <div class="container">
        <div class="image-container">

            <video src="/assets/imagens/finish.mp4" autoplay controls ></video>
        </div>
        <div class="text-container">
            <h1>Casa de Repouso</h1>
            <h2>Parque da Mooca</h2>
            <div class="social-icons">
                <a href="https://wa.me/message/GXI3B45JQPGKN1" target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a href="https://instagram.com/casa_de_repouso_parque_mooca?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/casaderepousoparquedamooca?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="mailto:casaderepousoparquemooca613@gmail.com" target="_blank"><i class="fa fa-google"></i></a>

            </div>

            <a href="tel:+551125289318" target="_blank">
            <button>Agende sua visita agora</button>
          </a>
        </div>
    </div>
</body>
</html>
